@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body { 
   background-color: black;
}

 .header-content { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 5rem;
    text-align: center;
    height: 4em;
    background-color: black;
    color: white; 
    font-family: 'Kanit', sans-serif;
 } 

 .header-container-styles { 
    display: flex;
    flex-direction: column;
 }

 .header-btn-container { 
    display: flex;
    justify-content: space-evenly;
 }

 .header-btn { 
    width: 5em;
    height: 3em;
    color: black; 
    background-color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 1.3rem;
 }

 /* .main-content-img { 
   background-image: url('../burger-picture-1.jpg');
 } */

.footer-container { 
   font-family: 'Kanit', sans-serif;

} 

.footer-info-styles { 
   background-color: black;
   height: 200px; 
   color: white;
   text-align: center;
}
