@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body { 
   background-color: black;
}

 .header-content { 
   display: flex;
   flex-direction: column;
   font-size: 5rem;
   height: 4em;
 } 

 .header-btn-container { 
    display: flex;
    justify-content: space-evenly;
 }

 .header-btn { 
    width: 5em;
    height: 3em;
    color: black; 
    background-color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 1.3rem;
 }

 .subheader { 
   font-size: 2.5rem;
   font-weight: bolder;
 }

.footer-info-styles { 
   height: 200px; 
   font-size: 2rem; 
} 

.header-content,
.footer-info-styles { 
   display: flex;
   flex-direction: column;
   font-family: 'Kanit', sans-serif;
   text-align: center;
   background-color: black; 
   font-weight: bolder;
   color: white;
} 



.main-content-center-text-container { 
   position: relative;
   display: flex;
   justify-content: space-around;
   align-items: center;
   border: 5px solid black;
}

.text-over-pictures { 
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
   position: absolute; 
   color: black;
   background-color: white;
   width: 33.3%;
   height: 65%;
   /* width: 100%;
   height: 90%; */
   /* height: 50px; 
   width: 550px; */
   border-radius: 5%; 
   /* background-color: black; */
   line-height: 1.2;
   /* left: 11em;  */
   /* bottom: 8em;  */
   font-size: 1.7rem; 
   font-family: 'Kanit', sans-serif;
   font-weight: bolder;
   font-style: italic;
   text-align: center;

} 

.main-content-background-img-1, 
.main-content-background-img-2,
.main-content-background-img-3 { 
   opacity: 0.45;
} 

.main-content-background-img-2 { 
   backdrop-filter: blur(30em);
}

.main-content-background-img-1, 
.main-content-background-img-2, 
.main-content-background-img-3 { 
   width: 33.3%;
}



